.title {
  text-align: center;
}

.title a {
  font-size: 3rem;
  color: var(--primary);
  transition: var(--transition) !important;
}
.title a:hover {
  color: var(--secondary);
}
.title p {
  font-size: 1.2rem;
}
