@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Monoton&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}

:root{
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
  --white: white;

  --transition: all 400ms ease;

  --width-lg:80%;
  --width-md:90%;
  --width-sm:95%;

}

body{
  font-family: 'Bruno Ace SC';
  color: var(--secondary);

}

.App{
  width: var(--width-lg);
  margin: 0 auto;
}

h1{
  color: var(--primary);
  letter-spacing: 2px;

}

h2 ,p{
  text-align: center;
}
h2{
  margin-top: 60px;
  font-size: 2rem;
  margin-bottom: 15px;
}




